{% load static %}
<html>
	<head>
		<title>output2</title>
		<link rel="stylesheet" href="{% static 'test_css.css' %}">
	<link rel="stylesheet" href="https://www.littlesnippets.net/css/codepen-result.css">
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<style>
		body{
  			
			background-image: url("{% static 'QP5lCV.png' %}");
  			background-size: cover;
			}


		</style>
	</head>
	<body>
		
		<figure class="snip1345"><img src="{% static 'white.jpg' %}" alt="pr-sample21"/>
			<div class="inside">
			  <figcaption>
				<h3>Here's what we found! output 2</h3>
				<p>{{data_external}}
					{{data2}}</p>
			</figcaption>
			</div><</a>
		</figure>
	</body>
</html>